.notification-cont {
    display: grid;
    gap: 5px;
    width: 100px;
    padding: 5px;
}

.default {
    background-color: rgb(169, 166, 166);
    transition: background-color 250ms ease-in-out;
}

.red {
    background-color: red;
    transition: background-color 250ms ease-in-out;
}

.yellow {
    background-color: yellow;
    transition: background-color 250ms ease-in-out;
}

.green {
    background-color: green;
    transition: background-color 250ms ease-in-out;
}